<h1>Companies List</h1>

<table id="company" border="3" layout= "fixed" width=" 100%"  >
  <colgroup>
    <col style="width: 33%" />
    <col style="width: 33%" />
    <col style="width: 33%" />
  
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Logo</th>
    <th>Place</th>
    <th> Total Satisfaction score</th>
    <th> Total no.of Reviews</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @companies.each do |company| %>  
  <tr >
    <td><%= company.rank%></td>
    <td><%= company.name %></td>
    <td><%=image_tag company.logo.url(:thumb)%></td>
    <td><%= company.place %></td>
    <td><%= company.satisfaction %> </td>
    <td><%= company.totalreviews %></td>
    
    <% if !current_user.blank? %>
      <td><%= link_to 'VIEW', company %></td>
    <%else%>
      <td><%= link_to 'VIEW', new_user_session_path,:class=>"login" %></td>
    <%end %>

         

  </tr>
<% end %>
 </colgroup>
</table>

<br />

<%= link_to 'ADD New Company', new_company_path %>
