<h1>Companies List</h1>

<table id="company" border="3" layout= "fixed" width=" 100%"  >
  <colgroup>
    <col style="width: 33%" />
    <col style="width: 33%" />
    <col style="width: 33%" />
  
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Logo</th>
    <th>Place</th>
    <th> RATING</th>
    <th> Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
<% @companies.each do |company| %>  
  <tr >
    <td><%= Company.find(company.company_id).id%></td>
    <td><%= Company.find(company.company_id).name %></td>
    <td><%=image_tag Company.find(company.company_id).logo.url(:thumb)%></td>
    <td><%= Company.find(company.company_id).place %></td>
   
    <td><%= company.rating%></td>
    <td><%= company.rank %></td>
    <% if !current_user.blank? %>
      <td><%= link_to 'VIEW', company_path(company.company_id) %></td>
    <%else%>
      <td><%= link_to 'VIEW', new_user_session_path,:class=>"login" %></td>
    <%end %>

         

  </tr>
<% end %>
 </colgroup>
</table>

<br />

<%= link_to 'ADD New Company', new_company_path %>
