<p id="notice"><%= notice %></p>

<p>
 <h1> <b>Title:</b>
  <%= @company.name %>
</p></h1>
<p>
  <b>Logo:</b><br>
  <%=image_tag @company.logo.url(:thumb)%>
</p>
<p>
 <h2> <b>Place:</b></h2>
 <h2> <%= @company.place %></h2>
</p>

<body>
  <b>Description:</b>
 <h3> <%= @company.Description %></h3>

<b>Total:</b>
  <h3>Satisfaction Score:- <%= @company.satisfaction%><br/></h3>
  <h3> <b>No.of Reviews:- </b><%= @company.totalreviews.to_i %><br/></h3>
  <h3>Current User Satisfaction:- <%= @current_user_satisfaction %> <br/></h3>


<h2><b>Rating:</b></h2>
<table id="company" border="3" layout= "fixed" width=" 100%"  >
  <colgroup>
    <col style="width: 33%" />
    <col style="width: 33%" />
    <col style="width: 33%" />

  <tr>
    <th> </th>
    <th>Trust and Responsibility Given:- </th>
    <th>Work, Amenities & Gadgets:-</th>
    <th>Sex,Age & Cultural Diversity:- </th>
    <th>Autonomy & Flexibility:- </th>
    <th> Atmosphere, Mood & Relationship with Team:- </th>
    <th> Trust on Management & Leadership:-</th>
    <th>Sense of Belonging & pride for the company:-  </th>
    <th> Learning & Improvement opportunities:- </th>
    <th>Opportunity to voice own Opinion:- </th>
    <th>Stimulating Job:- </th>
    <th>Creativity & Innovation Opportunities:- </th>
    <th>RelationShip with Supervisor /Management:- </th>
    <th>Compensation & Benefits:- </th>
    <th>Workload Balance:- </th>
    <th>Equality & Fairness:-</th>
    <th>Clarity of Role, Goals & Objectives:- </th>
    <th>Cooperation, Coordination, Collabration & Efficiency:- </th>

    <th>Guidance & Feedback received:- </th>
    <th>Recognition & Reward:- </th>
    <th>Career Growth Opportunities:- </th>
    <th>Consistency & Transperency :- </th>
  </tr>
  <tr >
  <th scope="row"> <%= current_user.email %></th>
   <td><%= @avg_satisfaction.shift %></td>
    <td><%= @avg_work_environment .shift %></td>
    <td><%= @avg_cd.shift   %></td>
    <td><%= @avg_flexibility.shift  %></td>
    <td><%=@avg_relation.shift  %></td>
    <td> <%=  @avg_leadership.shift   %></td>
    <td> <%= @avg_pride.shift  %></td>
    <td> <%=  @avg_opportunities.shift  %></td>
    <td> <%= @avg_opinion.shift %></td>
    <td> <%=  @avg_stimulatingjob.shift  %></td>
    <td> <%= @avg_innovation.shift %></td>
    <td> <%=  @avg_management.shift  %></td>
    <td> <%= @avg_compensation.shift  %></td>
    <td> <%=  @avg_workload.shift  %></td>
    <td> <%= @avg_equality.shift  %></td>
    <td> <%= @avg_objectives.shift %></td>
    <td><%= @avg_cooperation.shift  %></td>

    <td><%=  @avg_guidance.shift  %></td>
    <td><%= @avg_reward.shift  %></td>
    <td><%= @avg_career.shift  %></td>
    <td><%= @avg_transparancy.shift  %></td>
        
  </tr>

  <tr >
  <th scope="row">Total AVG:</th>
   <td><%= @company.attrib_satisfaction %></td>
    <td><%= @company.attrib_work_environment  %></td>
    <td><%= @company.attrib_cd  %></td>
    <td><%= @company.attrib_flexibility  %></td>
    <td><%=@company.attrib_relation  %></td>
    <td> <%=  @company.attrib_leadership   %></td>
    <td> <%= @company.attrib_pride  %></td>
    <td> <%=  @company.attrib_opportunities  %></td>
    <td> <%= @company.attrib_opinion %></td>
    <td> <%=  @company.attrib_stimulatingjob  %></td>
    <td> <%= @company.attrib_innovation %></td>
    <td> <%=  @company.attrib_management  %></td>
    <td> <%= @company.attrib_compensation  %></td>
    <td> <%=  @company.attrib_workload  %></td>
    <td> <%= @company.attrib_equality  %></td>
    <td> <%= @company.attrib_objectives %></td>
    <td><%= @company.attrib_cooperation  %></td>

    <td><%=  @company.attrib_guidance  %></td>
    <td><%= @company.attrib_reward  %></td>
    <td><%= @company.attrib_career  %></td>
    <td><%= @company.attrib_transparancy  %></td>
        
  </tr>
      
 </colgroup>
</table>
  


 


<br /><br />

 |
<%= link_to 'Back', companies_path %>
</body>