<h1><%=@company.name%> Rating</h1>
<%= semantic_form_for(@company_rating) do |f| %>


  <div class="form-inputs">
    <%= hidden_field_tag 'company_rating[company_id]' ,@company_rating.company_id %>
    <%= f.input :satisfaction, as: :slider, step: 1, color: 'red'%>
    <%= f.input :work_environment,as: :slider, step: 1, color: 'red' %>
    <%= f.input :cd, as: :slider, step: 1, color: 'red'%>
    <%= f.input :flexibility,as: :slider, step: 1, color: 'red' %>
    <%= f.input :relation, as: :slider, step: 1, color: 'red'%>
    <%= f.input :leadership,as: :slider, step: 1, color: 'red' %>
    <%= f.input :pride,as: :slider, step: 1, color: 'red' %>
    <%= f.input :opportunities, as: :range,min:0, max:100, step: 1, color: 'red'%>
    <%= f.input :opinion,as: :slider, step: 1, color: 'red' %>
    <%= f.input :stimulatingjob, as: :slider, step: 1, color: 'red'%>
    <%= f.input :innovation,as: :slider, step: 1, color: 'red' %>
    <%= f.input :management, as: :slider, step: 1, color: 'red'%>
    <%= f.input :compensation,as: :slider, step: 1, color: 'red' %>
    <%= f.input :workload, as: :slider, step: 1, color: 'red'%>
    <%= f.input :equality,as: :slider, step: 1, color: 'red' %>
    <%= f.input :objectives,as: :slider, step: 1, color: 'red' %>
    <%= f.input :cooperation,as: :slider, step: 1, color: 'red' %>
    <%= f.input :guidance, as: :slider, step: 1, color: 'red'%>
    <%= f.input :reward,as: :slider, step: 1, color: 'red' %>
    <%= f.input :career, as: :slider, step: 1, color: 'red'%>
    <%= f.input :transparancy,as: :slider, step: 1, color: 'red' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

	 